x <div>
    <section class="error-message">
        <h1 class="error-code">404-Error</h1>
        <p class="error-description">Unknown error has occured</p>
        <a class="error-link" href="views/blog.hbs">Go to the main page</a>
    </section>
</div>