    <div class="container" style="padding-top:60px">
        <div class="row">
          <div class="col-md-12">
              <h2>Add Category</h2>
              <br>
              <form method="post" action="/categories/add">
                    <fieldset>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="category">Category:</label>
                        <input class="form-control" name="category" type="text">
                        </div>
                    </div>
                    </div>

                    <input class="btn btn-primary pull-right" type="submit" value="Add Category">
                    <br><br><br>
                </form>
          </div>
        </div>
      </div>