    <div class="container" style="padding-top:60px">
        <div class="row">
          <div class="col-md-12">
              <h2>Add Post</h2>
              <br>
              <form method="post" action="/posts/add" enctype="multipart/form-data">
                    <fieldset>
                    <legend>Feature Image</legend>
                        <div class="col-md-12">
                        <div class="form-group">
                            <input id="fetureImage" class="from-control" name="featureImage" type="file">
                        </div>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                    <legend>Post Content</legend>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="title">Title:</label>
                        <input id="title" class="form-control" name="title" type="text">
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="body">Body:</label>
                        <textarea id="body" class="form-control" name="body" rows="15"></textarea>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="category">Category:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="category">Visibility:</label>
                        <div class="checkbox">
                            <label>
                            <input id="published" type="checkbox" name="published">
                            Published
                            </label>
                        </div>
                        </div>
                    </div>
                    </fieldset>
                        {{#if categories}}
                            <select class="form-control" name="category" id="category">
                                 <option value="">Select Category</option>
                                 {{#each categories}}
                                     <option value="{{id}}">{{category}}</option>
                                {{/each}}
                            </select>
                        {{else}}
                            <div>No Categories</div>
                        {{/if}}
                    <hr>
                    <input class="btn btn-primary pull-right" type="submit" value="Add Post">
                    <br><br><br>
                </form>
          </div>
        </div>
      </div>