.container 
p {
    color :blueviolet;
    font-family: sans-serif;
}

.col-md-3
h2 {
    color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    color: #4a4a4a;
    background-color: #f9f9f9;
    padding: 13px;
  }